.content {
  &[data-state="open"] {
    &[data-side="top"] {
      animation: slideDownIn 400ms cubic-bezier(0.16, 1, 0.3, 1), fadeIn 400ms cubic-bezier(0.16, 1, 0.3, 1);
      -webkit-animation: slideDownIn 400ms cubic-bezier(0.16, 1, 0.3, 1), fadeIn 400ms cubic-bezier(0.16, 1, 0.3, 1);
    }
    &[data-side="right"] {
      animation: slideLeftIn 400ms cubic-bezier(0.16, 1, 0.3, 1), fadeIn 400ms cubic-bezier(0.16, 1, 0.3, 1);
      -webkit-animation: slideLeftIn 400ms cubic-bezier(0.16, 1, 0.3, 1), fadeIn 400ms cubic-bezier(0.16, 1, 0.3, 1);
    }
    &[data-side="bottom"] {
      animation: slideUpIn 400ms cubic-bezier(0.16, 1, 0.3, 1), fadeIn 400ms cubic-bezier(0.16, 1, 0.3, 1);
      -webkit-animation: slideUpIn 400ms cubic-bezier(0.16, 1, 0.3, 1), fadeIn 400ms cubic-bezier(0.16, 1, 0.3, 1);
    }
    &[data-side="left"] {
      animation: slideRightIn 400ms cubic-bezier(0.16, 1, 0.3, 1), fadeIn 400ms cubic-bezier(0.16, 1, 0.3, 1);
      -webkit-animation: slideRightIn 400ms cubic-bezier(0.16, 1, 0.3, 1), fadeIn 400ms cubic-bezier(0.16, 1, 0.3, 1);
    }
  }
  &[data-state="closed"] {
    &[data-side="top"] {
      animation: slideUpOut 400ms cubic-bezier(0.16, 1, 0.3, 1), fadeOut 400ms cubic-bezier(0.16, 1, 0.3, 1);
      -webkit-animation: slideUpOut 400ms cubic-bezier(0.16, 1, 0.3, 1), fadeOut 400ms cubic-bezier(0.16, 1, 0.3, 1);
    }
    &[data-side="right"] {
      animation: slideRightOut 400ms cubic-bezier(0.16, 1, 0.3, 1), fadeOut 400ms cubic-bezier(0.16, 1, 0.3, 1);
      -webkit-animation: slideRightOut 400ms cubic-bezier(0.16, 1, 0.3, 1), fadeOut 400ms cubic-bezier(0.16, 1, 0.3, 1);
    }
    &[data-side="bottom"] {
      animation: slideDownOut 400ms cubic-bezier(0.16, 1, 0.3, 1), fadeOut 400ms cubic-bezier(0.16, 1, 0.3, 1);
      -webkit-animation: slideDownOut 400ms cubic-bezier(0.16, 1, 0.3, 1), fadeOut 400ms cubic-bezier(0.16, 1, 0.3, 1);
    }
    &[data-side="left"] {
      animation: slideLeftOut 400ms cubic-bezier(0.16, 1, 0.3, 1), fadeOut 400ms cubic-bezier(0.16, 1, 0.3, 1);
      -webkit-animation: slideLeftOut 400ms cubic-bezier(0.16, 1, 0.3, 1), fadeOut 400ms cubic-bezier(0.16, 1, 0.3, 1);
    }
  }
}

/*#region Fade */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*#endregion */

/*#region Slide */
/* Up */
@keyframes slideUpIn {
  0% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes slideUpIn {
  0% {
    -webkit-transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes slideUpOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(2px);
  }
}
@-webkit-keyframes slideUpOut {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(2px);
  }
}

/* Right */
@keyframes slideRightIn {
  0% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideRightIn {
  0% {
    -webkit-transform: translateX(-2px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@keyframes slideRightOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2px);
  }
}
@-webkit-keyframes slideRightOut {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-2px);
  }
}

/* Down */
@keyframes slideDownIn {
  0% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes slideDownIn {
  0% {
    -webkit-transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes slideDownOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2px);
  }
}
@-webkit-keyframes slideDownOut {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-2px);
  }
}

/* Left */
@keyframes slideLeftIn {
  0% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideLeftIn {
  0% {
    -webkit-transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@keyframes slideLeftOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(2px);
  }
}
@-webkit-keyframes slideLeftOut {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(2px);
  }
}
/*#endregion */