@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nyata";
  src: url("/fonts/NyataFTR-Regular.otf");
}

html {
  @apply ml-[calc(100vw-100%)] mr-0;
}

body {
  @apply w-screen overflow-x-hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  @apply bg-gradient-to-tr from-blue-900 to-fuchsia-900;
  @apply dark:bg-primary-background;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nyata", sans-serif;
  @apply dark:text-white;
}

p,
span {
  @apply dark:text-gray-300;
}

.section {
  @apply relative flex flex-col items-center justify-center py-32;
  @apply h-auto min-h-screen;
}

.btn {
  @apply py-2;
  @apply px-4;
  @apply rounded-full;
  @apply backdrop-blur;
}

.btn-primary {
  @apply bg-primary-900;
  @apply text-white;
  @apply bg-opacity-50;
}

.btn:hover {
  @apply transition-all;
  @apply bg-opacity-90;
}

.section-container {
  @apply bg-gradient-to-tr from-blue-900 to-fuchsia-900;
}

.spinner {
  @apply w-8 h-8 align-[-0.125rem] border-4 border-solid border-r-transparent rounded-full animate-spin;
}

.card {
  @apply flex flex-col items-center max-h-full w-max p-8 bg-black bg-opacity-20 hover:bg-opacity-[23%] rounded-3xl border-black border-2 border-opacity-10 shadow-xl backdrop-blur;
}

.dropdownContent {
  @apply text-sm text-gray-300 rounded bg-gray-900;
}

.dropdownItem {
  @apply py-2 px-4 hover:cursor-pointer hover:bg-gray-800 transition-colors;
}

.tabsTrigger {
  @apply bg-white bg-opacity-0 px-8 transition-all border-b-violet-700 border-opacity-0 border-b-2 radix-state-active:border-opacity-100 radix-state-active:bg-opacity-5;
  @apply hover:bg-opacity-10;
}
.tabsContent {
  @apply backdrop-blur rounded-b-xl p-8 border-x-2 border-b-2;
}
.tabsListContainer {
  @apply rounded-t-xl border-x-2 border-t-2;
}
.tabsListContainer,
.tabsContent {
  @apply border-black border-opacity-20 bg-black bg-opacity-40;
}